@import '../modules/slider.scss';

header#header {
    margin-bottom: 20px;

    .logo {
        height: 100%;
        max-height: 120px;

        @media (max-width: 500px) {
            max-height: 100px;
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between; 

        button.navbar-toggler {
            border: 1px solid $base-grey;
            outline: none;
        }

        #bs4navbar {
            .menu-item {
                padding: 6px 20px;
                letter-spacing: 1px;
                font-weight:400;
                font-size: 20px;
    
                a {
                    color: #00000071;
                }
    
                &.current-menu-item a, 
                &:hover a {
                    color: #000;
                }
            }

            @media (max-width: 768px) {
                border-bottom: 2px solid $base-yellow;
                transition: height .3s ease;
            }
        }
    }
}