main#blog {
    .blog-post {
        border-top: 10px solid $base-black;
        margin: 0 15px 80px 15px;
        padding: 0;

        .post-side {
            padding: 0;
            overflow: hidden;
        }

        .post-top {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: hidden;

            .post-key {
                width: 60%;
                background-color: $base-black;
                color: white;
                font-size: 25px;
                text-align: center;
                overflow: hidden;
                position: relative;
            
                .key {
                    margin-top: 14%;
                    margin-right: 20%;
                    display: inline-block;
                    color: $base-yellow; 
                    border: 2px solid $base-yellow;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 47px;
                    z-index: 5;

                    @media (max-width: 1200px) {
                        position: absolute;
                        top:49%;
                        left: 45%; 
                        margin: 0!important;
                        transform: translate(-50%, -50%);
                    }

                    @media (max-width: 450px) and (min-width:371px) {
                        top: 10px;
                        left: 10px;
                        transform: none;
                    }

                    @media(max-width: 370px) {
                        top:50%;
                        left: 50%; 
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    display: inline-block;
                    background-color:white;
                    width :200%;
                    height :200%;
                    transform: rotate(-45deg) translate(-10%, -5%);
                
                    @media(max-width: 370px) {
                        display: none;
                    }
                }
            }

            .post-title {
                display: flex;
                flex-direction: column;
                margin-left: 2%;
                margin-top: 20px;
                width: 100%;
                
                * {
                    font-size: 17px;
                    margin: 0;
                    padding: 1px 0;
                    width: 100%;
                    display: inline-block;
                }
                
                .date {
                    border-top: 4px solid $base-black;
                }
            } 
        }

        .post-description {
            margin-top: 20px;
            background-color: $base-yellow;
            padding: 80px 35px 60px 35px;
            position: relative;;
            overflow: hidden;

            .post-text {
                z-index: 10;
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    z-index: 0;
                    margin-bottom: 12px;
                    width: 25%;
                    height: 5px;
                    background-color: white;
                }
            }

            .open {
                float: right;
                margin-top: 15px;
                color: $base-black;
                text-decoration: none!important;
                font-weight: bold;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid $base-black;
                }
            }
            
            &:before, 
            &:after {
                content: '';
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                transform: rotate(45deg) translate(0, 120%);
            }
            
            &:after {
                background-color: rgba(255, 255, 255, 0.356);
                transform: rotate(45deg) translate(0, 88%);
            }

        }

        .post-slider {
            overflow: hidden;
            padding: 20px 0 0 20px;
            text-align: right;

            img {
                width: 100%;
                max-height: 70vh;
                width: auto;
            } 

            @media (max-width:1200px) {
                padding: 20px 0 0 0;
                img {
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
} 